#container {
    max-width: 576px;
    margin: auto;
}

.grid {
    background-color: aqua;
    width: 30px;
    height: 30px;
    margin: 2px;
    border: solid black 1px;
    display: inline-block;
}

.mouse {
    background-color: yellow;
}